{% extends 'base.html.twig' %}

{% block body %}

    <h2>Nous contactez</h2>
    <div class="content-form-contact">
        <input class="items-contact" type="text" placeholder="Nom">
        <input class="items-contact" type="text" placeholder="Prénom">
        <input class="items-contact" type="email" placeholder="Email">
        <textarea rows="6" class="items-contact" placeholder="Message"></textarea>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}

