{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="title-homme">Panier \</h3>
    <div class="container-panier">
        <table class="table table-sm panier">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Description</th>
                <th scope="col">Taille</th>
                <th scope="col">Couleur</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix TTC</th>
                <th scope="col">Total TTC</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><img class="img-panier" src="{{ asset('img/item_1.jpg') }}"></th>
                <td>Chino Slim<br>98% coton<br>Fermeture éclair et boutonnée</td>
                <td class="item-taille-panier">
                    <p class="mobile">Taille </p>
                    <select class="taille-panier">
                        <option>XS</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                        <option>XXL</option>
                        <option>3XL</option>
                        <option>4XL</option>
                    </select>
                </td>
                <td class="item-taille-panier">
                    <p class="mobile">Couleur </p>
                    <select class="taille-panier item-couleur-panier">
                        <option>Rouge</option>
                        <option>Noir</option>
                        <option>Bleu</option>
                        <option>Gris</option>
                        <option>Vert</option>
                        <option>Jaune</option>
                        <option>Orange</option>
                        <option>Blanc</option>
                    </select>
                </td>
                <td>
                    <div class="container-quantite-panier">
                        <div class="controller-quantite-panier"><button id="button-moins-panier"><span >-</span></button></div>
                        <p class="item-quantite-panier" id="quantity">1</p>
                        <div class="controller-quantite-panier"><button id="button-plus-panier"><span>+</span></button></div>
                    </div>
                </td>
                <td>99.90€</td>
                <div class="item-price-cross-panier">
                    <td><strong>99.90€</strong></td>
                    <td><a class="cross-item-panier">X</a></td>
                </div>
            </tr>
            </tbody>
        </table>

        <div class="container-resume-panier">
            <h3>Résumé</h3>
            <p>Sous-total TTC  <span>99,90€</span></p>
            <p id="livraison-panier">Livraison  <span>7,50€</span></p>
            <p id="commentaire-livraison-panier">Livraison sous 3 à 5 jours ouvrables</p>
            <br>
            <a id="promo-code-panier" onclick="promoCode()" ><p>Vous avez un code promo ?</p></a>
            <div class="container-promo-code">

                <input type="text" placeholder="Code promo" class="content-promo-code" id="item-promo-code">
                <a class="content-promo-code" >Valider</a>
            </div>

            <br>
            <p>Total TTC <span><strong>107.4€</strong></span></p>
            <div id="check-panier">
                <a>Valider mon panier</a>
            </div>
{#            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">#}
{#                <input type="hidden" name="cmd" value="_s-xclick">#}
{#                <input type="hidden" name="hosted_button_id" value="TDTXWEJLR3QJJ">#}
{#                <input type="image" src="{{ asset('img/paypal.png') }}" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">#}
{#                <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">#}
{#            </form>#}
        </div>
    </div>

    <script src="{{ asset('js/panier.js') }}"></script>

{% endblock %}

{% block stylesheets %}{% endblock %}

{#
    - photo de l'article
    - Titre de l'article
    - caracteristique (couleur, taille)
    - approvisionnement ( a discuter si on affiche ou pas )
    - la quantité prise
    - modification
        1) couleur
        2) taille
        3) quantite
    - prix tres visible (plus gros, en gras)
    - precision TTC et frais de livraisons
    - indiquer les differnetes etapes de paiement
    - bouton valider (valider mon panier) bien mis en avant
    - champ code promo "caché"
    #}