body{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

.nav-link span:hover{
    border-bottom: solid #af5e25 2px;
}

#navbarNav{
    text-align: center;
    position: absolute;
    top: 100%;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.navbar-nav{
    /*margin-top: 50px;*/
}

@keyframes menu_display {
    from {height: 0;}
    to {height: 100vh;}
}

.dropdown-menu{
    flex-wrap: wrap;
}

.dropdown-item{
    min-width: 130px;
    text-align: center;
}

.dropdown:hover + .dropdown-menu, .dropdown-menu:hover{
    display: flex;
}

.mobile{
    display: block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mobile img{
    height: 50px;
}

.desktop{
    display: none !important;
}

.connexion-shoppingcard{
    display: flex;
}

.line{
    height: 1.5px;
    width: 100%;
    background-color: grey;
}

.header-news{
    display: grid;
    margin: auto;
    width: 98%;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    margin-bottom: 30px;
}

.header-news h3, .header-categories h3{
    text-align: center;
    font-weight: 600;
    margin: 0 10px;
}

.items-news{
    /*width: auto !important;*/
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
    /*width: calc(6%) !important;*/
}

.items-clothes{
    text-align: center;
}

.items-clothes img{
    width: 90% !important;
}

.items-news img{
    width: 100%;
}

.info-item-news{
    text-align: center;
}

.info-item-news p:first-child{
    font-weight: 600;
    margin-bottom: 5px;
}

.info-item-news p{
    font-size: 12px !important;
}

.navbar{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    padding:0 !important;
    z-index: 999;
    margin: 20px 0;
    background-color: #ffffff;
    height: 70px;
}


/** HAMBURGER BUTTON **/

#nav-responsive {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0 0 0 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.navbar-toggler{
    border: none !important;
}

#nav-responsive span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
/* Icon 3 */

#nav-responsive span:nth-child(1) {
    top: 0;
}

#nav-responsive span:nth-child(2),#nav-responsive span:nth-child(3) {
    top: 8px;
}

#nav-responsive span:nth-child(4) {
    top: 16px;
}

#nav-responsive.open span:nth-child(1) {
    top: 8px;
    width: 0;
    left: 50%;
}

#nav-responsive.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-responsive.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-responsive.open span:nth-child(4) {
    top: 8px;
    width: 0;
    left: 50%;
}

.my-slider div{
    text-align: center;
}

.my-slider img, iframe{
    height: auto;
    width: 98%;
}

.controls{
    list-style: none;
}

.controls li{
    display: block;
    position: absolute;
    top: 40%;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    padding: 0 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.controls li:hover{
    background: #f2f2f2;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

.content-categories{
    display: flex;
    margin: auto;
    width: 98%;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
}

.flex-categories{
    width: 100%;
    margin-top: 10px !important;
    overflow: hidden;
}

.header-categories{
    display: grid;
    margin: auto;
    width: 98%;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    margin-bottom: 30px;
}

.card-content-categories{
    display: grid;
    margin: auto;
    width: calc(180px*2);
    grid-template-columns: repeat(2,180px);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 30px;
}

.item-categories {
    position: relative;
    height: 170px;
    width: 170px;
    /*background-color: red;*/
    border-radius: 5px;
    /*border: 2px solid black;*/
    margin-bottom: 10px;
    /*line-height: calc(100vw/3 /4);*/
}


.item-categories div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: auto;
    background-color: #000000;
    height: calc(170px/ 4);
    width: calc(170px/1.5);
    line-height: calc(170px/4.5);
    color: #ffffff;
}


.container-img{
    position: absolute;
    height: 100%;
    width: 100% ;
}

.container-img img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.bandeau-info{
    width: 100%;
    height: auto;
    background-image: url("/img/bg_bandeau.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

.content-bandeau{
    text-align: center;
    padding: 10px 0;
}

.grey-para{
    color: gray;
    font-size: 14px;

}

#para-tel{
    margin: 0;
}

.content-bandeau p:first-child{
    margin: 0 !important;
    font-weight: 600;
    font-size: 1.2em;
}

.content-bandeau div{
    margin: 1rem !important;
}

.nav-footer{
    /*display: flex;*/
    margin-top: 50px;
    margin-bottom: 50px;
}

.cache{
    display: none !important;
}

.nav-footer h5, li{
    margin: 0 30px;
    color: #af5e25;
}

.nav-footer h5{
    margin-bottom: 20px;
    font-weight: 600;
}

.nav-footer li{
    color: #000000;
}

.nav-footer ul{
    color: #000000;
}

.nav-footer a:link{
    text-decoration: none;
}

.nav-footer ul{
    list-style: none;
    padding: 0;
}

.items-nav-footer{
    display: flex;
}

.follow-footer{
    position: absolute;
    /*right: 0;*/
}

.follow-footer div{
    display: flex;
    margin: 0 30px;
}

.follow-footer img{
    height: 30px;
    width: 30px;
    margin:  0 5px;
}

.title-homme{
    text-align: center;
    font-weight: 600;
}

.title-filter-homme h5{
    font-weight: 600;
}

.side-filter-homme{
    text-align: center;
    margin: 50px auto;
}

#sticky-side-filter{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filter-bar__select{
    border-radius: 10px;
    border: solid 1px
    lightgray;
    padding: 5px;
    -moz-appearance: textfield;
    text-align: center;
}

#filter-bar-categories{
    width: 150px;
}

.connexion-shoppingcard img{
    height: 30px;
    width: auto;
}

#filter-bar-size{
    width: 60px;
}

#shopping-cart{
    position: relative;
    top: 5px;
    /*right: 25px;*/
}

.user-logo{
    padding: .5rem 0 !important;
    position: relative;
    top: 5px;
    z-index: 999;
}

.connexion-button{
    font-size: 1.2em;
    cursor: pointer;
    padding: 0 !important;
}

.connexion-button:hover{
    border-bottom: solid 1px #af5e25;
}

#notification-icon{
    position: absolute;
    top: 4px;
    right: 9px;
    height: 19px;
    width: 19px;
    /*border: solid 1px black;*/
    border-radius: 50%;
    margin: 0;
    padding: 0;
    background-color: #af5e25;
    color: white;
    text-align: center;
    font-size: 14px;
}

#notification-icon span{
    font-family: sans-serif;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.line-clothes{
    width: 90% !important;
    margin: auto;
}

#title-about{
    text-align: center;
    font-weight: 600;
}

#content-map-about{
    /*margin-right: 50px;*/
    margin: auto;
}

#map-about{
    height: 400px;
    width: 400px;
    margin-top: 75px;
}

#image-marques{
    width: 98%;
}

.items-about{
    text-align: center;
    font-size: 18px !important;
    margin-top: 50px;
}

.content-image-about{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 98%;
    margin: 100px auto 0 auto;
}

.content-image-about img{
    height: auto;
    width: 100%;
    padding: 0 10px;
}

#about_2{
    margin-top: 50px;
}

#about_3{
    margin-top: -50px;
}

.content-contact{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 1fr;
    text-align: center;
}

#or-contact{
    font-weight: 600;
}

.content-form-contact form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

#title-contact{
    text-align: center;
    font-weight: 600;
}

#inputMessage{
    resize: none;
}


/*************************************************************************/

.taille-panier{
    text-align: center;
    -moz-appearance: textfield;
    display: block;
    height: 32px;
    width: 60px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid
    #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px
    rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.item-taille-panier{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-taille-panier p{
    position: relative;
    top: 0;
    left: 0;
    transform: initial;
    display: flex ;
    margin-right: 10px;
}

.container-quantite-panier{
    display: flex;
}

.controller-quantite-panier{
    height: 30px;
    width: 30px;
    margin: 5px;
    text-align: center;
}

.controller-quantite-panier button{
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 30px;
}

.controller-quantite-panier button:focus{
    outline: 0 !important;
}

.controller-quantite-panier span{
    margin: auto;
    height: 30px;
    line-height: 25px;
    display: inline-block;
}

.item-quantite-panier{
    margin: auto 10px;
}

.img-panier{
    height: auto;
    width: 250px;
}

#total-panier{
    text-align: right;
    text-transform: uppercase;
}

tfoot{
    font-size: 1.2em;
}

#check-panier{
    text-align: center;
    width: 100%;
    cursor: pointer;
}

#check-panier a{
    background-color: #af5e25;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.1em;
    padding: 5px 10px;
    margin: 20px 0;
    width: 100%;
    display: inline-block;
}

thead th{
    border-bottom: 1px !important;
}

.table thead{
    display: none;
}

.table tbody{
    display: block;
    width: 100vw;
}

.table td, .table th{
    border: none !important;
}

.table td{
    vertical-align: middle !important;
    margin: auto;
}

.table tr{
    display: flex !important;
    flex-direction: column;
    text-align: center;
}

.cross-item-panier{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container-panier{
    width: 100%;
}

.table{
    width: auto !important;
}

.container-resume-panier {
    font-size: 20px;
    margin-top: 25px;
    width: auto;
    margin: 20px;
}

.container-resume-panier h3{
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: solid 1px black;
}

.container-resume-panier span{
    float: right;
    margin-left: 100px;
}

#livraison-panier{
    margin-bottom: 0;
}

#commentaire-livraison-panier{
    color: gray;
    margin-top: 0;
    font-size: 12px;
    padding: 0;
}

#promo-code-panier{
    font-size: 16px;
    color: #000;
}

#promo-code-panier{
    text-decoration: none;
}

#promo-code-panier p:hover{
    color: #af5e25;
    cursor: pointer;
}

.container-promo-code{
    display: none;
}

.container-promo-code a{
    background-color: #af5e25;
    color: #fff !important;
    padding: 5px;
    cursor: pointer;
}

.submit-btn-contact{
    background-color: #af5e25 !important;
    border: none !important;
}




@media (min-width: 500px) {
    .content-clothes{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 640px) {
    .content-clothes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width: 1650px){
    .flex-categories{
        width: 48%;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .content-bandeau{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 10px 0;
        align-items: center;
    }

    .item-categories div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        margin: auto;
        background-color: #000000;
        height: calc(250px/ 4);
        width: calc(250px/1.5);
        line-height: calc(250px/4.5);
        color: #ffffff;
    }

    .item-categories{
        height: 240px;
        width: 240px;
    }

    .card-content-categories{
        display: grid;
        margin: auto;
        width: calc(250px*3);
        grid-template-columns: repeat(3,250px);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        margin-bottom: 30px;
    }

    .nav-footer{
        display: flex;
    }

    .follow-footer{
        right: 100px;
    }

    #shopping-cart{
        padding-right: 50px;
    }

    #notification-icon{
        margin-right: 50px;
    }

    .table{
        width: auto !important;
    }

    .table thead{
        display: table-header-group;
        color: #696969ba !important;
    }

    .table tr{
        display: table-row !important;
    }

    .table td, .table th{
        border-bottom: solid 1px #6969692e  !important;
        border-top: none !important;
    }

    .table tbody{
        display: table-row-group;
    }

    .panier{
        margin: 30px;
    }

    .img-panier{
        width: 120px;
    }

    .item-taille-panier{
        display: table-cell;
    }
}

@media (min-width: 991px){

    .dropdown:hover + .dropdown-menu, .dropdown-menu:hover{
        overflow: hidden;
        display: block;
    }

    .dropdown:hover + .menu{
        animation: menu .3s;
    }

    .dropdown:hover + .marques{
        animation: marques .3s;
    }

    @-webkit-keyframes menu {
        from {height: 0;}
        to {height: 300px;}
    }

    /* Standard syntax */
    @keyframes menu {
        from {height: 0;}
        to {height: 300px;}
    }

    @-webkit-keyframes marques {
        from {height: 0;}
        to {height: 400px;}
    }

    /* Standard syntax */
    @keyframes marques {
        from {height: 0;}
        to {height: 400px;}
    }

    .dropdown-menu{
        position: absolute;
        top: 35px !important;
        text-align: center !important;
    }

    .nav-item{
        margin: 10px;
    }


    #navbarNav img{
        position: -webkit-sticky;
        position: sticky;
    }

    /* Standard syntax */
    @keyframes stick {
        from {width: 250px;}
        to {width: 100px;}
    }

    /* Standard syntax */
    @keyframes unstick {
        from {width: 100px;}
        to {width: 250px;}
    }

    #navbarNav{
        position: relative;
        padding-left: 20px;
        padding-bottom: 10px;
        margin: 0;
        background-color: #fff;
        width: 100%;
        z-index: 1;
        height: auto;
        overflow: initial;
    }

    .navbar-nav{
        margin-top: 0;
        font-size: 1.2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-25%,-50%);
        width: 70%;
    }

    .navbar{
        height: auto;
    }

    .mobile{
        display: none !important;
    }

    .desktop{
        display: inline-block !important;
    }

    #container-news{
        position: relative;
        overflow: hidden;
    }

    .arrow{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex !important;
        flex-direction: row-reverse;
        width: 95%;
        z-index: 999;
    }
    .arrow span{
        display: block;
        width: 30px;
        height: 30px;
        border-bottom: 5px solid #828282;
        border-right: 5px solid #828282;
        transform: rotate(135deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .arrow span:nth-child(2){
        animation-delay: -0.2s;
    }
    .arrow span:nth-child(3){
        animation-delay: -0.4s;
    }
    @keyframes animate {
        0%{
            opacity: 0;
            transform: rotate(135deg) translate(-20px,-20px);
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(135deg) translate(20px,20px);
        }
    }

    .items-news{
        /*width: calc(4%) !important;*/
    }

    .item-ipad-left{
        margin-bottom: 0;
    }

    .info-item-news p{
        font-size: 16px !important;
    }

    .side-filter-homme{
        display: block;
        text-align: left;
        margin: 50px 0 0 20px;
    }

    .content-clothes{
        display: flex;
        margin-top: 50px;
    }

    .content-homme{
        display: flex;
    }

    .title-homme{
        text-align: unset;
        margin-left: 20px;
        margin-top: 50px;
    }

    .title-filter-homme{
        width: 200px;
        margin-bottom: 50px;
    }

    .title-filter-homme h5{
        border-bottom: solid 2px #454545;
        padding-bottom: 10px;
    }

    .content-categories-homme p{
        margin-bottom: 10px;
        cursor: pointer;
    }

    .content-categories-homme p:hover{
        color: #af5e25;
    }

    .cache{
        display: initial !important;
    }

    .content-taille-homme{
        display: flex !important;
        flex-wrap: wrap;
    }

    .items-taille{
        cursor: pointer;
        height: 40px;
        width: 40px;
        border: solid 1px #454545;
        text-align: center;
        line-height: 35px;
        margin: 5px;
    }

    .items-taille:hover{
        border: solid 2px #af5e25;
        color: #af5e25;
        background-color: rgba(45,45,45,.03);
        font-weight: 600;
    }

    .content-clothes{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .filter-bar__select{
        display: none;
    }

    #sticky-side-filter{
        display: block;
        position: sticky;
        top: 90px;
    }

    #content-about{
        display: flex;
        margin-bottom: 50px;
    }

    .content-image-about{
        width: 60%;
    }

    #content-map-about{
        margin-right: 50px;
    }

    .content-contact{
        margin-top: 50px;
        grid-template-columns: 1fr 0.2fr 1fr;
        grid-template-rows: 1fr;
    }

    #or-contact{
        margin: auto;
    }

    .container-panier{
        display: flex;
        width: 100%;
    }

    .container-resume-panier {
        font-size: 20px;
        margin-top: 25px;
        width: 25%;
    }

    .container-resume-panier span{
        float: right;
        margin-left: 100px;
    }

    #livraison-panier{
        margin-bottom: 0;
    }

    #commentaire-livraison-panier{
        color: gray;
        margin-top: 0;
        font-size: 12px;
        padding: 0;
    }

    .table{
        width: 70% !important;
    }

}